<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="menu">
                {% include '_MENU.twig' %}
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
                {% include '_FOOTER.twig' %}
        </div>
    </div>
    </body>
</html>
